<% provide :title, t(".title") %>
<h1><%= t ".heading" %></h1>
<div>
  <%= link_to "Create User", new_user_path, class: "btn btn-primary" %>
</div>
<%= will_paginate %>
<ul class="users">
  <%= render @users %>
</ul>
<%= will_paginate %>
